In [95]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier  

from sklearn.metrics import mean_squared_error, accuracy_score,confusion_matrix

In [4]:
df = pd.read_csv('heart_pred.csv', na_values = '?')

In [5]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,28,1,2,130.0,132.0,0.0,2.0,185.0,0.0,0.0,NaN,NaN,NaN,0
1,29,1,2,120.0,243.0,0.0,0.0,160.0,0.0,0.0,NaN,NaN,NaN,0
2,29,1,2,140.0,NaN,0.0,0.0,170.0,0.0,0.0,NaN,NaN,NaN,0
3,30,0,1,170.0,237.0,0.0,1.0,170.0,0.0,0.0,NaN,NaN,6.0,0
4,31,0,2,100.0,219.0,0.0,1.0,150.0,0.0,0.0,NaN,NaN,NaN,0

In [6]:
df.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
289,52,1,4,160.0,331.0,0.0,0.0,94.0,1.0,2.5,NaN,NaN,NaN,1
290,54,0,3,130.0,294.0,0.0,1.0,100.0,1.0,0.0,2.0,NaN,NaN,1
291,56,1,4,155.0,342.0,1.0,0.0,150.0,1.0,3.0,2.0,NaN,NaN,1
292,58,0,2,180.0,393.0,0.0,0.0,110.0,1.0,1.0,2.0,NaN,7.0,1
293,65,1,4,130.0,275.0,0.0,1.0,115.0,1.0,1.0,2.0,NaN,NaN,1

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294 entries, 0 to 293
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         294 non-null    int64
 1   sex         294 non-null    int64
 2   cp          294 non-null    int64
 3   trestbps    293 non-null    float64
 4   chol        271 non-null    float64
 5   fbs         286 non-null    float64
 6   restecg     293 non-null    float64
 7   thalach     293 non-null    float64
 8   exang       293 non-null    float64
 9   oldpeak     294 non-null    float64
 10  slope       104 non-null    float64
 11  ca          3 non-null      float64
 12  thal        28 non-null     float64
 13  num         294 non-null    int64
dtypes: float64(10), int64(4)
memory usage: 32.3 KB

In [9]:
df.isnull().sum()

age             0
sex             0
cp              0
trestbps        1
chol           23
fbs             8
restecg         1
thalach         1
exang           1
oldpeak         0
slope         190
ca            291
thal          266
num             0
dtype: int64

In [10]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
count,294.000000,294.000000,294.000000,293.000000,271.000000,286.000000,293.000000,293.000000,293.000000,294.000000,104.000000,3.0,28.000000,294.000000
mean,47.826531,0.724490,2.982993,132.583618,250.848708,0.069930,0.218430,139.129693,0.303754,0.586054,1.894231,0.0,5.642857,0.360544
std,7.811812,0.447533,0.965117,17.626568,67.657711,0.255476,0.460868,23.589749,0.460665,0.908648,0.338995,0.0,1.615074,0.480977
min,28.000000,0.000000,1.000000,92.000000,85.000000,0.000000,0.000000,82.000000,0.000000,0.000000,1.000000,0.0,3.000000,0.000000
25%,42.000000,0.000000,2.000000,120.000000,209.000000,0.000000,0.000000,122.000000,0.000000,0.000000,2.000000,0.0,5.250000,0.000000
50%,49.000000,1.000000,3.000000,130.000000,243.000000,0.000000,0.000000,140.000000,0.000000,0.000000,2.000000,0.0,6.000000,0.000000
75%,54.000000,1.000000,4.000000,140.000000,282.500000,0.000000,0.000000,155.000000,1.000000,1.000000,2.000000,0.0,7.000000,1.000000
max,66.000000,1.000000,4.000000,200.000000,603.000000,1.000000,2.000000,190.000000,1.000000,5.000000,3.000000,0.0,7.000000,1.000000

In [11]:
df.drop(columns = ["slope",'ca','thal'], axis = 1, inplace= True)

In [12]:
df = df.dropna()

In [13]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,num
0,28,1,2,130.0,132.0,0.0,2.0,185.0,0.0,0.0,0
1,29,1,2,120.0,243.0,0.0,0.0,160.0,0.0,0.0,0
3,30,0,1,170.0,237.0,0.0,1.0,170.0,0.0,0.0,0
4,31,0,2,100.0,219.0,0.0,1.0,150.0,0.0,0.0,0
5,32,0,2,105.0,198.0,0.0,0.0,165.0,0.0,0.0,0

In [14]:
df['sex'].value_counts()

1    192
0     69
Name: sex, dtype: int64

In [15]:
df['cp'].value_counts()

4    113
2     92
3     46
1     10
Name: cp, dtype: int64

In [16]:
df['restecg'].value_counts()

0.0    208
1.0     47
2.0      6
Name: restecg, dtype: int64

In [17]:
df['fbs'].value_counts()

0.0    242
1.0     19
Name: fbs, dtype: int64

### Dummies using pandas to convert categorical value to one-hot encoding

In [18]:
df = pd.get_dummies(df,columns = ['cp','restecg'])   # for rescaling data

In [19]:
df.head()

,age,sex,trestbps,chol,fbs,thalach,exang,oldpeak,num,cp_1,cp_2,cp_3,cp_4,restecg_0.0,restecg_1.0,restecg_2.0
0,28,1,130.0,132.0,0.0,185.0,0.0,0.0,0,0,1,0,0,0,0,1
1,29,1,120.0,243.0,0.0,160.0,0.0,0.0,0,0,1,0,0,1,0,0
3,30,0,170.0,237.0,0.0,170.0,0.0,0.0,0,1,0,0,0,0,1,0
4,31,0,100.0,219.0,0.0,150.0,0.0,0.0,0,0,1,0,0,0,1,0
5,32,0,105.0,198.0,0.0,165.0,0.0,0.0,0,0,1,0,0,1,0,0

In [44]:
df.columns

Index(['age', 'sex', 'trestbps', 'chol', 'fbs', 'thalach', 'exang', 'oldpeak',
       'num       ', 'cp_1', 'cp_2', 'cp_3', 'cp_4', 'restecg_0.0',
       'restecg_1.0', 'restecg_2.0'],
      dtype='object')

In [45]:
df = df.rename(columns = {'num       ':'target'})

In [49]:
numerical_cols = ['age','trestbps','chol','thalach','oldpeak']
cat_cols = list(set(df.columns) - set(numerical_cols)- {'target'})

In [51]:
df['oldpeak'].value_counts()

0.0    165
1.0     36
2.0     28
1.5     15
3.0      9
2.5      3
0.5      2
0.8      1
5.0      1
4.0      1
Name: oldpeak, dtype: int64

In [46]:
df.head()

,age,sex,trestbps,chol,fbs,thalach,exang,oldpeak,target,cp_1,cp_2,cp_3,cp_4,restecg_0.0,restecg_1.0,restecg_2.0
0,28,1,130.0,132.0,0.0,185.0,0.0,0.0,0,0,1,0,0,0,0,1
1,29,1,120.0,243.0,0.0,160.0,0.0,0.0,0,0,1,0,0,1,0,0
3,30,0,170.0,237.0,0.0,170.0,0.0,0.0,0,1,0,0,0,0,1,0
4,31,0,100.0,219.0,0.0,150.0,0.0,0.0,0,0,1,0,0,0,1,0
5,32,0,105.0,198.0,0.0,165.0,0.0,0.0,0,0,1,0,0,1,0,0

In [50]:
cat_cols

['restecg_0.0',
 'exang',
 'fbs',
 'cp_1',
 'cp_3',
 'cp_4',
 'restecg_1.0',
 'sex',
 'cp_2',
 'restecg_2.0']

### Splitting Data

In [53]:
df_train, df_test = train_test_split(df, test_size = 0.2, random_state = 42)

In [54]:
len(df_train), len(df_test)

(208, 53)

In [61]:
scaler = StandardScaler()

def get_features_and_target_arrays(df, numerical_cols, cat_cols, scaler):
    x_numeric_scaled = scaler.fit_transform(df[numerical_cols])  #for tranforming in -1 to 1 range by claculating mean and s.d
    x_categorical = df[cat_cols].to_numpy()
    x = np.hstack((x_categorical, x_numeric_scaled))  #to merge the two columns on top of one another
    y = df['target']
    
    return x, y

In [64]:
x_train, y_train = get_features_and_target_arrays(df_train, numerical_cols, cat_cols, scaler)

### Logistic Regression

In [69]:
## Train
clf = LogisticRegression()
clf.fit(x_train, y_train)

LogisticRegression()

In [70]:
x_test, y_test = get_features_and_target_arrays(df_test, numerical_cols, cat_cols, scaler)

In [72]:
test_pred = clf.predict(x_test)

In [76]:
mean_squared_error(y_test,test_pred)*100

16.9811320754717

In [75]:
accuracy_score(y_test, test_pred)*100

83.01886792452831

In [78]:
confusion_matrix(y_test,test_pred)

array([[27,  6],
       [ 3, 17]])

### Decision Tree

In [81]:
dc_clf = DecisionTreeClassifier()
dc_clf.fit(x_train,y_train)

dlf_pred = dc_clf.predict(x_test)
print(mean_squared_error(y_test, dlf_pred))
print(accuracy_score(y_test,dlf_pred))

0.3584905660377358
0.6415094339622641

### Random Forest Classifier

In [92]:
rc_clf = RandomForestClassifier()
rc_clf.fit(x_train,y_train)

rc_pred = rc_clf.predict(x_test)
print(mean_squared_error(y_test, rc_pred))
print(accuracy_score(y_test,rc_pred))

0.20754716981132076
0.7924528301886793

 ### SVM

In [93]:
svm_clf = SVC()
svm_clf.fit(x_train,y_train)

svm_pred = svm_clf.predict(x_test)
print(mean_squared_error(y_test, svm_pred))
print(accuracy_score(y_test,svm_pred))

0.18867924528301888
0.8113207547169812

### KNN

In [96]:
knn_clf = KNeighborsClassifier()
knn_clf.fit(x_train,y_train)

knn_pred = knn_clf.predict(x_test)
print(mean_squared_error(y_test, knn_pred))
print(accuracy_score(y_test,knn_pred))

0.20754716981132076
0.7924528301886793